a.parent-topic {
	width: 100%;
	margin: 15px 0 15px 0;
	padding: 15px;
	display: block;
	border: solid 1px #084887;
	border-radius: 7px;
	color: #084887;
	text-decoration: none;
}

a.parent-topic:hover, a.parent-topic:active {
	background-color: #909cc2;
	color: #084887;
}

a {
	font-size: 1.5em;
}