<a *ngIf="topic.id" class="parent-topic" [routerLink]="['/topic/', topic.id]">
	<i class="fa fa-level-up"></i>
	<span>{{topic.name}}</span>
</a>
<a *ngIf="topic && !topic.id" class="parent-topic" [routerLink]="['/topic/']">
	<i class="fa fa-level-up"></i>
	<span>{{appName}}</span>
</a>