<div *ngIf="parentThread.actions.replyUrl" class="reply-creator">
	<div *ngIf="error" class="error">{{error}}</div>
	<form #replyForm="ngForm" (submit)="onSubmit()" [formGroup]="form" novalidate>
		<div>
				<textarea
					rows="12"
					[hidden]="previewing"
					required
					formControlName="content"
					class="content-input" ></textarea>
				<reply-content-display
					[hidden]="!previewing"
					class="preview">{{replyForm.value.content}}</reply-content-display>
				<ul *ngIf="formErrors.content" class="validation-error">
					<li *ngFor="let msg of formErrors.content">{{msg}}</li>
				</ul>
		</div>
		<div class="form-footer">
			<button type="button" class="btn-lnk" (click)="onCancel()">Cancel</button>
			<button type="button" (click)="onPreview()" *ngIf="!previewing" [disabled]="form.invalid">Preview</button>
			<button type="button" (click)="onEdit()" *ngIf="previewing">Edit</button>
			<button type="submit" *ngIf="previewing" [disabled]="pending || form.invalid" >Submit</button>
		</div>
	</form>
</div>