.reply {
	width: 100%;
	margin: 15px 0 15px 0;
	display: block;
	border: solid 1px #909cc2;
	border-radius: .5em;
	display: flex;
	flex-wrap: wrap;
}

.reply-details {
	margin: 15px;
	flex: 0 1 10em;
}

.reply-content {
	margin: 15px;
	flex: 1 0 20em;
}

@media all and (max-width: 35em) {
	.reply-details {
		flex: 1 1 20em;
	}
}

.confirm-delete {
	margin: 15px 0 15px 0;
	border-radius: .5em;
	border: solid 1px #f58a07;
	padding: 15px;
}