a {
	text-decoration: none;
	color: #084887;
	display: block;
	padding: 1em;
}

li:first-child :host a {
	border-radius: 5px 5px 0 0;
}

li:last-child :host a {
	border-radius: 0 0 5px 5px;
}

li:only-child :host a {
	border-radius: 5px;
}

a:hover, a:active {
	background-color: #909cc2;
	color: #084887;
}
