<form (submit)="onSubmit()" [formGroup]="form" novalidate>
	<div>
		<label>
			<div class="label">Title</div>
			<input type="text"
				required
				formControlName="title"
				class="thread-title-input" />
		</label>
		<ul *ngIf="formErrors.title" class="validation-error">
			<li *ngFor="let msg of formErrors.title">{{msg}}</li>
		</ul>
	</div>
	<div>
		<label>
			<div class="label">Content</div>
			<textarea
				required
				rows="6"
				formControlName="content"
				class="thread-content-input"></textarea>
		</label>
		<ul *ngIf="formErrors.content" class="validation-error">
			<li *ngFor="let msg of formErrors.content">{{msg}}</li>
		</ul>
	</div>
	<div class="form-footer"> 
		<button type="submit" [disabled]="pending || form.invalid" >Create</button>
		<button (click)="onCancel()" type="button">Cancel</button>
	</div>
</form>