<div *ngIf="thread">
	<h1 class="thread-title">{{thread.title}}</h1>
	<div class="thread-details">
		<parent-topic [topic]="thread.topic"></parent-topic>
	</div>
	<button
			(click)="setStateDeleting()"
			class="btn-delete"
			*ngIf="thread.actions.deleteUrl && state!==threadComponentState.deleting"
			type="button">Delete Thread</button>
	<div class="confirm-delete" *ngIf="state===threadComponentState.deleting">
		<p>Are you sure you wish to delete this thread?</p>
		<button (click)="setStateNormal()" class="btn-delete-cancel btn-lnk">Cancel</button>
		<button (click)="deleteThread()" class="btn-delete-confirm">Delete</button>
	</div>
	<ul>
		<li *ngFor="let reply of thread.replies" class="reply">
			<div class="reply-details">
				<div>{{reply.author}}</div>
				<div>{{reply.date | date:'short'}}</div>
			</div>
			<reply-content-display class="reply-content">{{reply.content}}</reply-content-display>
		</li>
	</ul>
	<div *ngIf="thread.actions.replyUrl">
		<button class="reply-button" (click)="setStateReplying()" *ngIf="state!==threadComponentState.replying" type="button">Reply</button>
		<reply-creator
			*ngIf="state===threadComponentState.replying"
			(newReply)="finishReply()"
			(refresh)="refresh()"
			(close)="setStateNormal()"
			[parentThread]="thread"></reply-creator>
	</div>
</div>
<div *ngIf="error" class="error">
	Failed to get the thread. It might have been hidden or deleted.
</div>