<div>Logged in as <span class="logged-in-username">{{loginState.username}}</span></div>
<p *ngIf="state === states.becomeAdmin">
	This website is configured in demo mode. You can become an administrator now
	in order to test features such as deleting threads, but you will be required
	to sign in again.
</p>
<div class="form-footer">
	<button (click)="onBecomeAdmin()" *ngIf="canBecomeAdmin && state === states.normal">Become Admin</button>
	<button (click)="logout()" *ngIf="state === states.normal">Sign Out</button>
	<button (click)="onConfirmBecomeAdmin()" *ngIf="state === states.becomeAdmin">Confirm (Signs out)</button>
	<button (click)="onCancelBecomeAdmin()" *ngIf="state === states.becomeAdmin">Cancel</button>
</div>