<forum-current-user *ngIf="loggedInUser"></forum-current-user>
<form
    *ngIf="!loggedInUser && !newUser"
		class="login-form"
    (submit)="onSubmit()"
		novalidate >
    <div *ngIf="loginError" style="color: red" class="alert">{{loginError}}</div>
    <label>
			<div class="label">Username</div>
			<div class="control-group" >
				<input
						type="text"
						class="username-input"
						name="username"
						required="true"
						[(ngModel)] = "model.username" />
    	</div>
		</label>
		<label>
			<div class="label">Password</div>
			<div class="control-group">
				<input
					type="password"
					class="password-input"
					name="password"
					required="true"
					[(ngModel)] = "model.password" />
			</div>
		</label>
		<div class="form-footer">
			<button type="button" class="new-user-button btn-lnk" (click)="newUser=true">New User?</button>
			<button type="submit" [disabled]="!(model.username && model.password)">Sign In</button>
		</div>
</form>
<forum-register-form
	*ngIf="!loggedInUser && newUser"
	(registered)="onRegistered($event)"
	(close)="newUser=false">
</forum-register-form>