<form (submit)="onSubmit()" [formGroup]="formGroup" >
    <div *ngIf="registerError" style="color: red" class="alert">{{registerError}}</div>
		<label>
			<div class="label">Username</div>
			<div class="control-group">
				<input
					#username
					type="text"
					class="username-input"
					formControlName="username"
					required="true" />
				<ul *ngIf="formGroup.controls.username.touched && formErrors().username" class="validation-message">
					<li *ngFor="let message of formErrors().username">{{message}}</li>
				</ul>
			</div>
		</label>
		<label>
			<div class="label">Password</div>
			<div class="control-group">
				<input
						#password
						type="password"
						class="password-input"
						formControlName="password"
						required="true" />
				<ul *ngIf="formGroup.controls.password.touched && formErrors().password" class="validation-message">
					<li *ngFor="let message of formErrors().password">{{message}}</li>
				</ul>
			</div>
		</label>
		<label>
			<div class="label">Confirm Password</div>
			<div class="control-group">
				<input
						#confirmPassword
						type="password"
						class="confirm-password-input"
						formControlName="confirmPassword"
						required="true" />
				<ul *ngIf="formGroup.controls.confirmPassword.touched && formErrors().confirmPassword" class="validation-message">
					<li *ngFor="let message of formErrors().confirmPassword">{{message}}</li>
				</ul>
			</div>
		</label>
		<div class="form-footer">
			<button type="button" class="btn-lnk" (click)="onClose()">Existing User?</button>
			<button type="submit" class="btn-submit" [disabled]="formGroup.invalid || registerSubscription">Join</button>
		</div>
</form>