<form
	(submit)="onSubmit()"
	[formGroup]="topicFormGroup"
	novalidate >
	<div>
		<label>
			<div class="label">Topic Name</div>
			<div class="control-group">
				<input
					type="text"
					formControlName="name"
					class="new-topic-name"
					/>
				</div>
		</label>
		<ul
			class="validation-message"
			*ngIf="formErrors.name">
			<li *ngFor="let msg of formErrors.name">{{msg}}</li>
		</ul>
	</div>
	<div>
		<label>
			<div class="label">Topic Id</div>
			<div class="control-group">
				<input
					type="text"
					formControlName="id"
					class="new-topic-id"
					/>
				</div>
		</label>
		<ul
			class="validation-message"
			*ngIf="formErrors.id">
			<li *ngFor="let msg of formErrors.id">{{msg}}</li>
		</ul>
	</div>
	<div>
		<label>
			<div class="label">Description</div>
			<div class="control-group">
				<textarea
					formControlName="description"
					class="new-topic-description"
					rows="3"></textarea>
			</div>
		</label>
		<ul
			class="validation-message"
			*ngIf="formErrors.description">
			<li *ngFor="let msg of formErrors.description">{{msg}}</li>
		</ul>
	</div>
	<span class="alert" *ngIf="message">{{message}}</span>
	<div class="form-footer">
		<button type="submit" [disabled]="!isEnabled() || topicFormGroup.invalid" >Create</button>
		<button
			type="button"
			(click)="onCancel()" >Cancel</button>
	</div>
</form>