.current-topic {
	background-color: #909cc2;
	color: #084887;
	width: 100%;
	margin: 1em 0 1em 0;
	display: block;
	border-radius: .5em;
	padding: 1em;
}

.child-topic a {
	text-decoration: none;
	color: #084887;
	display: block;
	padding: 1em;
}

.child-topic:first-child a {
	border-radius: 6px 6px 0 0;
}

.child-topic:last-child a {
	border-radius: 0 0 6px 6px;
}

.child-topic:only-child a {
	border-radius: 6px;
}

.child-topic a:hover, .child-topic a:active {
	background-color: #909cc2;
	color: #084887;
}

.topic-children-list {
	width: 100%;
	margin: 1em 0 1em 0;
	display: block;
	border: solid 1px #084887;
	border-radius: 7px;
}

.confirm-delete-topic {
	margin: 15px 0 15px 0;
	border-radius: .5em;
	border: solid 1px #f58a07;
	padding: 15px;
}