<div *ngIf="!topic">
	<span *ngIf="!getTopicError">Getting the topic...</span>
	<span *ngIf="getTopicError" class="error">{{getTopicError}}</span>
</div>
<div *ngIf="topic">
	<div *ngIf="topic.name" class="current-topic">
		<h1 class="topic-name">{{topic.name}}</h1>
		<div class="topic-description">{{topic.description}}</div>
	</div>
	<parent-topic *ngIf="topic.parent" [topic]="topic.parent" ></parent-topic>
	<div *ngIf="topic.topics.length > 0" class="topic-children-list" >
		<ul>
			<li *ngFor="let childTopic of topic.topics" class="child-topic">
				<a [routerLink]="['/topic/', childTopic.id]" >
					<h4 class="child-topic-name">{{childTopic.name}}</h4>
					<span class="child-topic-description">{{childTopic.description}}</span>
				</a>
			</li>
		</ul>
	</div>
	<div *ngIf="topic.threads.length > 0" class="topic-children-list">
		<ul>
			<li *ngFor="let thread of topic.threads">
				<thread-summary [thread]="thread" class="thread-summary"></thread-summary>
			</li>
		</ul>
	</div>
	<div>
		<button
			*ngIf="topic.actions.postThreadUrl"
			(click)="state = topicComponentStates.newThread"
			class="btn-new-thread">New Thread</button>
		<button
			*ngIf="topic.actions.postTopicUrl"
			(click)="state = topicComponentStates.newTopic"
			class="btn-new-topic">New Topic</button>
		<button
			*ngIf="topic.actions.deleteTopicUrl"
			(click)="state = topicComponentStates.deleting"
			class="btn-delete-topic">Delete Topic</button>
	</div>
	<topic-creator
		[parentTopic]="topic"
		(newTopic)="newTopic()"
		(cancel)="setStateNormal()"
		*ngIf="state === topicComponentStates.newTopic" ></topic-creator>
	<thread-creator
		[parentTopic]="topic"
		(newThread)="newThread($event)"
		(cancel)="setStateNormal()"
		*ngIf="state === topicComponentStates.newThread" ></thread-creator>
	<div class="confirm-delete-topic" *ngIf="state === topicComponentStates.deleting">
		<p>Are you sure you want to delete this topic? All threads and subtopics will be deleted, too.</p>
		<button
			type="button"
			class="btn-lnk btn-cancel"
			(click)="setStateNormal()">Cancel</button>
		<button
			type="button"
			class="btn-confirm"
			(click)="onDelete()">Delete Topic</button>
	</div>
</div>