/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
	max-width: 70em;
	margin: auto;
	padding: 10px 10px 10px 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
	margin: 0;
  padding: 0;
	list-style: none;
}

li {
  font-weight: 400;
	list-style-position: inside;
}

input, textarea {
  border: 1px solid #084887;
	border-radius: .5em;
  font-size: 1em;
	width: 100%;
  outline: none;
  padding: 8px;
	background-color: #d6d6d6;
}

input {
  height: 40px;
}

button {
  background-color: transparent;
  border: 3px solid #f58a07;
	border-radius: .5em;
  cursor: pointer;
  font-size: 1em;
	font-weight: bolder;
  height: 40px;
	outline: none;
  padding: 8px 18px;
  text-decoration: none;
	margin: 0.5em 0 0.5em 0;
}

button:hover {
  background-color: #f9ab55;
}

button.btn-lnk {
  border-color: #084887;
}

button.btn-lnk:hover {
	background-color: #909cc2;
}

.control-group {
	margin: 1em 0 1em 10em;
}

login-form {
	width: 30em;
	margin: 1em 0 1em auto;
	display: block;
	border: solid 1px;
	border-radius: .5em;
	padding: 1em;
}

.label {
	width: 10em;
	text-align: right;
	padding: .7em;
	float: left;
}

.form-footer {
	text-align: right;
}

h1 {
	margin: 0 0 .25em 0;
}

h4 {
	margin: 0 0 .5em 0;
}
